div, input, textarea {
  box-sizing: border-box;
}

.main-background {
  width: 100%;
  height: 500px;
  background-image: url(../img/bobo.png);
  /* 사이즈 자동조정 */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1px;
  filter: brightness(120%); 
  position: relative;
}

.main-title {
  color: white;
  font-size: 40px;
  margin-top: 100px;
  text-align: center;
}

.main-content {
  color: white;
  margin-top: 70px;
  text-align: center;
  position: relative;
}

.main-button {
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  border-radius: 5px;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 160px; 
  margin: auto;
  width: 150px;

}

.explain-box {
  box-sizing: border-box;
  width: 80%;
  max-width: 600px;
  background-color: #eee;
  padding: 20px;
  text-align: center;
  margin: auto;
  border-radius: 5px;
  position: relative;
  top: -40px;

}

.contact-background {
  background-color: black;
  padding: 30px;
}

.contact-main {
  background-color: white;
  padding: 30px;
  width: 80%;
  margin: auto;

}

.contact-main h4 {
  font-size: 18px;
  padding: 10px;
}


.form-input {
  width: 100%;
  font-size: 12px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-textarea {
  width: 100%;
  height: 200px;
  font-size: 12px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.form-checkbox {

}

.form-button {
  width: 100px;
  height: 30px;
  font-size: 12px;
  padding: 1px;
  text-align: center;
  border: 1px solid black;
  display: block;
  float: right;

  margin-left: auto;
}

.w-100 {
  width: 100%;
  padding: 10px;
  
}

.w-50 {
  width: 50%;
  float: left;
  padding: 10px;
  
}